*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#acc-sec{
	width:100%;
	padding-top:50px;
}
.acc-container{
	width:90%;
	margin:auto;
	/* text-align:center; */
	background-color:pink;
	padding:20px;
	
	
}
.active{
	display:none;
	text-align:center;
}
/* .angle { */
	/* transform:rotate(180deg); */
	
/* } */
